@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}


body {
  font-family: 'Barlow', sans-serif;
}

.header__nav {
  position: relative;
}

.header {
  padding: 40px 0;
}

.header__logo {
  width: 236px;
  height: 26px;


}
.header__list {


}
.header__item {
  list-style-type: none;
  margin-right: 32px;
}
.header__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #83888F;
}
.header__link:hover{
  color: #333d4b;
}
.header__menu {
  position: absolute;
  right: 0;
  border: none;
  background-color: #fff;
  display: none;
}

.hero__img {
  background-image: url(img/hero-img.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 100%;
  height: 85vh;
  padding-left: 86px;
}


.hero__title {
  width: 445px;
  font-family: 'Fraunces', serif;
  width: 493px;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  padding-top: 100px;
  color: #fefcf7;
  margin-bottom: 32px;


}
.hero__text {
  font-family: 'Barlow', sans-serif;
  width: 445px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 55px;
  mix-blend-mode: normal;
  color: #fefcf7;
  opacity: 0.8;
}
.hero__link {
  font-family: 'Fraunces', serif;
  padding: 15px 31px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background: #0E8784;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

.container2 {
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  margin: 0 auto;
}

.main {
  padding-top: 150px;
}
.main__bkg {
  width: 100%;
  height: 210px;
  background-image: url(img/collection.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main__list {
  margin-top: -80px;
  align-items: center;
  text-align: center;
  color: #333D4B;
}

.item__title {
  font-size: 24px;
}
.item__text {
  font-size: 16px;
}


.main__item{
  list-style-type: none;
}

.chooses {
  margin-top: 200px;
}
.chooses__part {
  padding-top: 112px;
  height: 570px;
  background: #2c343e;
  border-radius: 10px;
  font-family: 'Fraunces', serif;
}
.chooses__title {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  color: #fefcf7;
  margin: 0 auto;
  margin-bottom: 32px;
  
}
.chooses__text {
  width: 540px;
  font-family: Barlow;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0 auto;
  margin-bottom: 56px;
  line-height: 26px;
}

.chooses__list {
  text-align: center;
  margin: 0 auto;

}

.chooses__item {
  list-style-type: none;
}

.choses__card {
  margin-top: -200px;
  padding: 150px 48px 48px;
  background: #0E8784;
  border-radius: 8px;
  text-align: center;
}
.card__title {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
}
.card__text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  margin-bottom: 100px;
}


@media only screen and (max-width: 992px) {
  .package {
    display: flex;
    

  }
  .main__img div {
    width: 60vw;
  }
  .hero__img {
    background-image: url(img/coffe.png);
    padding-left: 0;
    height: 65vh;
    padding-left: 58px;
  }

  .hero__title {
    width: 329px;
    padding-top: 100px;
    color: #fefcf7;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 48px;
  
  
  }
  .hero__text {
    font-family: 'Barlow', sans-serif;
    width: 398px;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
    mix-blend-mode: normal;
    color: #fefcf7;
    opacity: 0.8;
  }


  .choses__card {
    padding: 0 48px 0 70px;
    width: 80vw;
    margin: 10px;
    display: flex;
    text-align-last: left;
    justify-content: space-between; 
  }

  .card__title {
    justify-content: start;
    margin-top: 41px;
    margin-bottom: 16px;
  }
  .card__text {
    justify-content: start;
    margin-bottom: 41px;

  }
  .choses__card img {
    padding-right: 80px;
  }

  
}

@media screen and (max-width: 689px){
  .package {
    display: block;
  }
  .header__list {
    text-align: center;
    display: none;
  }

  .header__menu {
    display: block;
  }
  .hero__title {
    max-width: 279px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;  
    margin-bottom: 20px; 
  
  }
  .hero__text {
    max-width: 279px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 39px;
  }
  .hero__img {
    padding: 0 30px;
  }
  .header__link {
    text-align: center;
  }

  .choses__card {
    display: block;
    padding: 72px 32px 48px;
    text-align: center;
  }
  .choses__card img {
    padding-left: 50px;
  }
  
  
}